@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Great+Vibes);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* For smaller screens, change all columns to 100% width */
@media (min-width:1270px) {
  body {
    width: 80%;
  }
}

@media (max-width:870px) {
  body > * {
    width: 100%;
  }
}

body {
  color: #323232;
  background: #E7D326 url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  font-family: 'Raleway', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  height: 60%;
  margin: auto;
  padding: 1em;

  text-align: left;
  overflow: auto; /* required - without this, the page layout is screwed up */
}

a {
  outline: none;
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}

a:hover, a:focus {
  opacity: 1;
}

nav {
  display: inline-block;
  text-transform: lowercase;
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 1px;
}

nav li {
  font-weight:800;
  display: inline-block;
  margin: 1em;
}

#site-navigation { float: left; }
#links { float: right; }

header {
  display: block;
}

header h1 {
  font-size: 2.5em;
}

header quote {
  font-size: 1.6em;
  font-family: 'Great Vibes';
  color: rgba(0,0,0,0.8);

  text-shadow: 1px 1px 1px rgba(0,0,0,0.1)
  font-style: italic;
}

article header {
  top-margin: 0;
}
article header h1 {
  top-margin: 0;
}
