---
layout: default
---


<header class="header dark-blue-row">
  <div class="container row-3 tablet-row-3 mobile-row-1">
    <div class="clear mobile-text-center">
      <a href="/" class="logo left mobile-no-float uppercase">akkudu.com</a>
      <ul class="navigation list-inline right mobile-full mobile-container-full">
        <li><a class="active" href="/blog">Blog</a></li>
        <li><a href="https://github.com/{{site.github}}">Github</a></li>
        <li><a href="https://twitter.com/{{site.twitter}}">Twitter</a></li>
      </ul>
    </div>
  </div>

  <div class="container mobile-container-full">
    <div class="row-2 clear mobile-row">
      <div class="left col-8 tablet-col-6 mobile-full mobile-container mobile-text-center">

        <h1>{{ page.title}}</h1>
        <h3>{{ page.author }}, {{ page.date | date_to_string }}</h3>
      </div>
    </div>
  </div>
</header>

<div class="smoke-row">

  <article class="container row-3 font-normal">

    <section class="post font-light">
      {{ content }}
    </section>

  </article>
</div>
